@model IEnumerable<ASPMVC_Day3_Lab_Validation_2.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_CustomLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@section Header {
    <h1>Header Section</h1>
    }

@section foo {
    foo section
}