@{
    ViewBag.Title = "Home Page";
    Layout = "/Views/Shared/_CustomLayout.cshtml";
}


@section Footer {


<hr />
Rendered Footer Section
<footer>
    <p>&copy; @DateTime.Now.Year - ToyCompany Inc.</p>
</footer>
}

@section FeaturedToysSection {
Feature Toys Section to Render
   <ul>
    <li>Slink </li>
       <li>Furby</li>
       <li>Scalextric</li>
       <li>Train Set</li>
    </ul>
}

<h1>This is the page body</h1>

fsdfdsfsdfsd


fsdf
ss

fd
fsd
fd
fds
dfs
fd
f
sfds
